$accent:#fe3e57;
$default:#8d8d8d;
$title:#29282d;


%Quicksand-400px{
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;

}
%Quicksand-500px{
    font-family: 'Quicksand-Medium ', sans-serif;
    font-weight: 500;

}
%roboto-400px{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}
%roboto-700px{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}